*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins';
}
.bg-peach{
background-color: hsl(0, 100%, 74%);
background-image: url('images/bg-intro-desktop.png');
height: 100%;
border: 1px solid green;

}
